<%- include("partials/header"); %>


<body class="about">


    <h1>About Me</h1>
    

    <p>
        Welcome to my page. I am a self taught software engineer. I have been studying while in my last semester of school and have learned quite a lot and retained alot.
        I am currently participating in an online course which has taught me Javascript EJS express node HTML and CSS. I am on a lifelong journey to become the best programmer I can be and create amazing things. Thank you for stopping by.
     </p>
     <a href="/">  
        <button>Home</button>  
      </a>
  </body>
  

  <%- include("partials/footer"); %>