<%- include("partials/header"); %>


<body>


    <h1>My Contact Information</h1>
    <p>Email: Jodibaker@gmail.com</p>

    <p>
      I would love to answer any questions you may have.
    </p>
    <a href="/">  
      <button>Home</button>  
    </a>
  </body>

  <%- include("partials/footer"); %>
