
<%- include("partials/header"); %>

<body>
            <ul>
            <li><a href="contact">Contact</a></li>
            <li><a href="about">About</a></li>
        
          </ul>



    <div class="intro">
        <h2>I'm Jodi Crudup-Baker</h1>
        <h5>
            I am a self taught web developer. i am learning to create wonderful websites and 
            improving functionality of web pages and templated websites.
            I aim to be an asset to your team and company. Look around to 
            learn more about me.
        </h5>
        
    </div>
    <div class="icon">
        <a href="https://github.com/JodiBaker/Portfolio.git"><i class="fa-brands fa-github"></i>My github</a>
    </div>
    



</body>

<%- include("partials/footer"); %>
